$background-color: #fff;
$text-color: #1e1e1e;
$text-color-light: #999;
$text-color-white: #fff;
$text-color-red: #ff2f2f;
$primary-color: #3369f3;
$primary-color-hover: #0046f7;
$text-size-xs: 11px; // 9px
$text-size-sm: 13px; // 11px
$text-size-md: 14px; // 12px
$text-size-lg: 15px; // 13px
$text-size-xl: 20px; // 20px
$text-size-xxl: 40px; // 40px
$border-radius-xs: 8px; // 8px
$border-radius-sm: 12px; // 12px
$border-radius-xl: 30px; // 30px
$transition-time: 0.4s;
